body {
  padding: 50px;
  font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;  
}

a {
  color: #00B7FF;
}

button {
  min-width: 200px;
  min-height: 100px;
  font-size: 36px;  
}

input {
  font-size: 24px;
}