extends layout

block content
  h1 Airsoft-ware
  form(method="post", action="/setup")
    p
      label Round Duration
      br
      input(name="round_duration", type="number") 
      |  (minutes)
    p
      label Red Team Name
      br
      input(name="team1_name", type="text")
    p      
      label Blue Team Name
      br
      input(name="team2_name", type="text")            
    p
      button(type="submit") Get Started
        
          